<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>FATBOT</h2>
	<p>The little robot who's building a big world.</p>
	
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>CEO</li>
			<li>Technologist</li>
			
		</ul>
	</div>
	

<p>FATBOT is an internet connected toy who lives on your desk where he is building a home in an augmented reality, virtual world which you can experience with your smart phone. FATBOT is equipped with a three sensors. A light sensor, a motion detector, and an accelerometer. By activating these sensors you make FATBOT comfortable in his new home and increase his health. The healthier he is the more the two of you can build and create together.</p>

<p>The Kickstarter Campaign:FATBOT was a kickstarter campaign that raised $45,391 but never made the asked 350k. Being CEO, I feel that there are two reasons it failed: 1.) The premature launch of our video with insufficent content and demonstration and 2.) Our high asking price for each bot. </p>
	<h4>
		<a href="http://kck.st/Is9YCJ" target="_blank">See Kickstarter Page!</a>
	</h4>
	
</div>


<div class="main">
<%= image_tag ("fabot/FATBOT_large.png") %>
<%= image_tag ("fabot/fabot-by-bricks.jpeg") %>
<%= image_tag ("fabot/iphone-app.jpeg") %>
<%= image_tag ("fabot/fatbot-with-levels.jpeg") %>

<iframe frameborder="0" height="437px" margin-bottom="200px" z-index="1" src="http://www.kickstarter.com/projects/1777366112/fatbot-the-little-robot-whos-building-a-big-world/widget/video.html" width="600px"></iframe>




</div >





</div>