<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>Kumite Spoof</h2>
	<p>The story of my introduction to Google Sketchup </p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Sensei</li>
			<li>Underdog</li>
			
		</ul>
	</div>
	
	
	
	<p>Sometimes renting a car should be about choosing your adventure, not a price. We created a platform that enables the user to choose their adventure by selecting: terrain, passangers, equipment and more. Once your selections are made, you will be presented with the rental cars that best fit your adventure style.</p>
	
</div>


<div class="main">
<%= image_tag ("kumite/titlepage.jpeg") %>
<%= image_tag ("kumite/overview.png") %>
<%= image_tag ("kumite/comp.png") %>
<%= image_tag ("kumite/board.png") %>
<%= image_tag ("kumite/banner.png") %>



<iframe width="600" height="335" src="http://www.youtube.com/embed/juhm0srTe5k" frameborder="0" allowfullscreen></iframe>





</div >





</div>