<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>Kumite Spoof</h2>
	<p>The story of my introduction to Google Sketchup </p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Sensei</li>
			<li>Underdog</li>
			
		</ul>
	</div>
	<p>This was my first introduction to 3d-modeling. My use for 3d-modeling is simply for rapid protyping which is why I have not explored more into any other software. Since I started using Google SketchUp, I have been able to utilize it in a varity of products as extra support and proof of concept. It really is a great tool to have in your wheel house. </p>
</div>


<div class="main">
<%= image_tag ("kumite/titlepage.jpeg") %>
<%= image_tag ("kumite/overview.png") %>
<%= image_tag ("kumite/comp.png") %>
<%= image_tag ("kumite/board.png") %>
<%= image_tag ("kumite/banner.png") %>



<iframe width="600" height="335" src="http://www.youtube.com/embed/juhm0srTe5k" frameborder="0" allowfullscreen></iframe>





</div >





</div>