<%= render :partial => 'header' %>
<div class="processWrapper">
<div id="processHeader">
<%= image_tag("myProcess.png") %>
	</div>

	<section id="processExperiment">
		<figure>
			<%= image_tag("ideate.png") %>
			<figcaption>
				<h3>Experiment</h3>
			</figcaption>
		<figure>
			<p>Play is root of what I do. By constantly experimenting with technology, I keep a fresh perspective on the new brave new world of electronics, code, and gadgets. Code is like Lincoln Logs for adults, we are able to take fundamental material and construct products in limitless ways. </p> <p>The discovery of web innovation like parralax scrolling, tapping in to the Iphones accelerometer, or making interactive visualizations from hacking a Kinect all are possible from individuals who explored the world of code, not because they sat in a room with a piece of paper and a pencil.</p>
	</section>
	<section id="processIdeate">
		<figure>
			<%= image_tag("brain.png") %>
			<figcaption>
				<h3>Ideate</h3>
			</figcaption>
		<figure>
			<p>Even though I pefer to code, at my core I am a creative. I thrive in a space where I'm able to come up with ideas, interactions, and new types of executions. I am able to apply my strengths in development and new technology to the creative side.</p><p> The world of technology moves so fast that it's almost impossible for traditional creatives to be able to develop new ideas that leverage cutting edge tools. It's the developer that discovers what the new API or SDK's enable you to build. It's the developer that understand the technical limitations of an idea and how to overcome them. 
				
			</p>
	</section>
	<section id="processDevelop">
		<figure>
			<%= image_tag("develop.png") %>
			<figcaption>
				<h3>Develop</h3>
			</figcaption>
		<figure>
		<p>Sure coming up with big ideas and playing with tech toys is fun but when it comes to development, i'm a process driven, standards implementing, code junkie. There's nothing I like more than to sip on Lattes, jam out to the Tron soundtrack, and crank out code.</p><p> I have been part of large collaborative development teams where seem-less integration, code standards, and browser optimization are key. At the end of the day, the developer is the last visual and experience designer to touch a product and it is imperative that the developer understand these skills.  </p>

	</section>

</div>
</div>	