<%= render :partial => 'header' %>
<div class="processWrapper">
<div id="processHeader">
<%= image_tag("myprocess.png") %>
	</div>
	<section id="processExperiment">
		<figure>
			<%= image_tag("ideate.png") %>
			<figcaption>
				<h3>Experiment</h3>
			</figcaption>
		<figure>
			<h4>I'm constantly experimenting with new code frameworks, technology and gadgets so I can build new interactions and applications.</h4>
	</section>
	<section id="processIdeate">
		<figure>
			<%= image_tag("brain.png") %>
			<figcaption>
				<h3>Ideate</h3>
			</figcaption>
		<figure>
			<h4> As a technical creative, I thrive in spaces where I come up with new ideas for brand campaigns and executions </h4>
	</section>
	<section id="processDevelop">
		<figure>
			<%= image_tag("develop.png") %>
			<figcaption>
				<h3>Develop</h3>
			</figcaption>
		<figure>
		<h4>When it comes to development, I'm a standards implementing, boundary pushing, prototyping, code junkie. </h4>

	</section>

</div>
</div>	