<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div  class="titles">
		<h2>Jello Pudding Drop</h2>
		<p>Chrome Extension and Website</p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Developer</li>
				<li>Technologist</li>
			</ul>
		</div>
		<p>Jello made light of the 49ers losing the 2013 Super Bowl by giving away a bunch of free pudding.</p>
		<h5>Website</h5>
		<p>Live Updates of pudding drop locations and relating media.</p>
		<h5>Gloat Protector: Chrome Extension</h5>
		<p>We made a chrome extension that would comb the current web-page the user was browsing and filter out words relating to their team loosing and replace images with cat pictures.</p>
		
	</div>
	<div class="main">
		<%= image_tag ("jello-puddingdrop.jpg") %>
		<%= image_tag ("jello-map.jpg") %>
		<%= image_tag ("jello-blockerpage.jpg") %>
		<%= image_tag ("jello-blocker.jpg") %>
		<%= image_tag ("jello-blocker1.jpg") %>
		<%= image_tag ("jello-blocker2.jpg") %>
	</div >
</div>