
		<%= render :partial => 'cover' %>
	<%= render :partial => 'headermove' %>
	
	<div class="wrapper">
			
	<%= render :partial => 'mywork' %>
	<%= render :partial => 'aboutme' %>
	<%= render :partial => 'contact' %>
		


</div>