<section id="aboutme" class="section">
	<%= image_tag("aboutme.png", :class => 'header') %>
	<div id="myimage">
		<%= image_tag("bentondc.jpeg", :size => "350x250") %>
	</div>
	<div id="aboutinfo">
		<%= image_tag("wordboard.png") %>
	</div>
</section>	
<section id="nextabout" >
<div id="lowerabout">
		<div id="about1" >
				<h2>Hobbies</h2>
			<ul style="margin: 0 auto; width: 99%;">
				<%= image_tag("skater.png", :alt => "Ice Hockey") %>
				<%= image_tag("beer.png", :alt => "Beer") %>
				<%= image_tag("robot.png", :alt => "Robots are awesome!") %>
				<%= image_tag("bike.png", :alt => "Cycling: MTB, BMX, Road") %>
				<%= image_tag("skiier.png", :alt => "Ski and Snowboard") %>
			</ul>
		</div>
		<div id="about2">		
			<h2>What I do:</h2>

			<p>I build stuff... lots of stuff. The power of creation is a beautiful thing.</p>
			
			<P>I work as an Interactive Developer at <a href="http://cpbgroup.com">Crispin Porter + Bogusky</a>, where I build rich interactive experiences for some of the largest brands in the world.</p>
			<p>Currently, my main focus is to learn all I can about the world of development and make some really cool shit along the way. Down the road I plan to open my own production shop, where I can launch world class brands and create innovative experiences with emerging technology.</p>
		</div>
	</div>	
</section>
