<section id="aboutme" class="section">
	<%= image_tag("aboutme.png", :class => 'header') %>
	
	<div id="myimage">
		<a href="#"><%= image_tag("bentondc.jpeg", :size => "350x250") %></a>
	</div>
	
	
	<div id="aboutinfo">
		<%= image_tag("wordboard.png") %>
	</div>
</section>	
<section id="nextabout" >
<div id="lowerabout">
		<div id="about1" >
				<h2>Hobbies</h2>
			<ul style="margin: 0 auto; width: 99%;">
				<%= image_tag("skater.png", :alt => "Ice Hockey") %>
				<%= image_tag("beer.png", :alt => "Beer") %>
				<%= image_tag("robot.png", :alt => "Robots are awesome!") %>
				<%= image_tag("bike.png", :alt => "Cycling: MTB, BMX, Road") %>
				<%= image_tag("skiier.png", :alt => "Ski and Snowbaord") %>
			</ul>
		</div>
		
		<div id="about2">		
			<h2>What I do</h2>
			
				
			<p>I'm a Jr. Developer and Techonoligist who knows how to Produce. I also love making animations.</p>
				<p>Im a Graduate Student at <a href="bdw.colorado.edu">BDW</a> where I study entrepreneurism, development, and digital media.</p> <p>I spend most my time building things like, websites, movies, animations, internet connected devices and art(although im not as good at art). I want to open my own production shop one day but until then, I am working hard at becoming a better developer and leader.</p>
		
		</div>
	</div>	
	
	
	
	</section>