
<section id="mywork" class="section">
<%= image_tag('mywork.png', :class => 'header') %>

<div id="filter">
	<ul class="filter">
		<li>SELECT TAG:</li>
	<li class="featured"><a href="#">Featured</a></li>	 
	<li class="dev"><a href="#">Development</a></li>
	<li class="branding"><a href="#">Branding</a></li>
	<li class="motion"><a href="#">Motion</a></li>
	<li class="physical"><a href="#">Physical</a></li>
	<li class="fun"><a href="#">Just Fun</a></li>
	<li class="current all"><a href="#">All</a></li>
	
	  
	  
	</ul>
</div>
	<div id="work">
	<ul class="portfolio">
		 
		  <li data-id="id-1" data-type="featured motion dev">
		    <a href="portfolio/boulderboxset.html" >
		      <%= image_tag('boulderboxsetsPBS.png') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Boulder Box Sets</h3>
				<h5 class="categories">Animation / Motion</h5>
			</a>
		  </li>
		  <li data-id="id-3" data-type="featured dev">
		    <a href="portfolio/occupationalist.html" >
		     <%= image_tag('occupationalist/occupationalist.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Aggregator for OWS</h3>
				<h5 class="categories">Development / Production</h5>
			</a>
		  </li>
		   <li data-id="id-3" data-type="branding" >
		    <a href="portfolio/hasbro.html" >
		      <%= image_tag('hasbro.png') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">Interactive / Branding</h5>
			</a>
		  </li>
		   <li data-id="id-4" data-type="branding">
		    <a href="portfolio/rentadventure.html" >
		     <%= image_tag('rentadventure.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Rental Car Platform</h3>
				<h5 class="categories">Development / Strategy</h5>
			</a>
		  </li>
		   <li data-id="id-5" data-type="dev motion">
		    <a href="portfolio/parallax.html" >
		     <%= image_tag('parralax.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Parallax Scrolling</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		  <li data-id="id-6" data-type="fun">
		    <a href="portfolio/kumite.html" >
		     <%= image_tag('kumite.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">3D modeling Spoof</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		  <li data-id="id-7" data-type="dev">
		    <a href="portfolio/codeadvice.html" >
		     <%= image_tag('codeadvice/iconcodeadvice.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Code Term Glossary</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		    <li data-id="id-8" data-type="featured dev physical fun">
		    <a href="portfolio/fatbot.html" >
		     <%= image_tag('fabot/FATBOT_Thumb.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">FATBOT – The AR Toy</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		    <li data-id="id-9" data-type="motion">
		    <a href="portfolio/advocharge.html" >
		     <%= image_tag('advochage/advoicon.jpg') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">AdvoCharge Advantage</h3>
				<h5 class="categories">Animation/Motion</h5>
			</a>
		  </li>
		 
		</ul>
			
	</div>
</section> 