<%= image_tag('mywork.png') %>

<section id="mywork">

<div id="filter">
	<ul id="search">
		<li>By Tag:</li>
		<li>Motion</li>
		<li>Student</li>
		<li>Client</li>
	</ul>
</div>


	<ul id="work">
		<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
		<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
			<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
		<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
			<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
		<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
			<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
		<li>
			<a href="#"><%= image_tag('hasbro.png') %><span>Hasbro</span></a>
			
		</li>
	</ul>
</section> 