
<section id="mywork" class="section">
<%= image_tag('mywork.png', :class => 'header') %>

<div id="filter">
	<ul class="filter">
		<li>SELECT TAG:</li>
		<li class="featured"><a href="#">Featured</a></li>	 
		<li class="dev"><a href="#">Development</a></li>
		<li class="motion"><a href="#">Motion</a></li>
		<li class="creative"><a href="#">Creative</a></li>
		<li class="fun"><a href="#">Just Fun</a></li>
		<li class="current all"><a href="#">All</a></li>
	</ul>
</div>
	<div id="work">
	<ul class="portfolio">		  
		  
		  <li data-id="id-2" data-type="featured dev">
		    <a href="portfolio/puddingdrop.html" >
		      <%= image_tag('thumbnail-pudding.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Jello Pudding Drop</h3>
				<h5 class="categories">Superbowl Campaign</h5>
			</a>
		  </li>
		  <li data-id="id-2" data-type="featured dev">
		    <a target="_blank" href="http://dominos.com" >
		      <%= image_tag('thumbnail-dominos.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Dominos Campaign</h3>
				<h5 class="categories">New Homepage</h5>
			</a>
		  </li>
		   <li data-id="id-2" data-type="featured dev">
		    <a href="portfolio/applebees.html" >
		      <%= image_tag('thumbnail-applebees.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Applebees</h3>
				<h5 class="categories">Website Construction</h5>
			</a>
		  </li>
		  <li data-id="id-2" data-type="featured creative fun dev">
		    <a href="portfolio/nodepong.html" >
		      <%= image_tag('thumbnail-pong.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Node Pong</h3>
				<h5 class="categories">Websocket Game</h5>
			</a>
		  </li>
		   <li data-id="id-2" data-type="dev">
		    <a href="portfolio/emails.html" >
		      <%= image_tag('thumbnail-arbys.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Emails</h3>
				<h5 class="categories">Various Emails</h5>
			</a>
		  </li>
		  <li data-id="id-1" data-type="featured dev">
		    <a href="portfolio/triscuit.html" >
		      <%= image_tag('thumbnail-triscuit.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Triscuit</h3>
				<h5 class="categories">Web Portal for Kraft</h5>
			</a>
		  </li>
		  <li data-id="id-2" data-type="featured motion dev">
		    <a href="portfolio/boulderboxset.html" >
		      <%= image_tag('boulderboxsetsPBS.png') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Boulder Box Sets</h3>
				<h5 class="categories">Animation / Motion</h5>
			</a>
		  </li>	
		  <li data-id="id-2" data-type="featured creative motion dev">
		    <a href="portfolio/bdwc4html" >
		      <%= image_tag('thumbnail-bdwc4.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">BDW Cohort 4</h3>
				<h5 class="categories">Our Class Website</h5>
			</a>
		  </li>	
		   <li data-id="id-2" data-type="dev">
		    <a href="portfolio/katona.html" >
		      <%= image_tag('thumbnail-katona.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Interior Design</h3>
				<h5 class="categories">Website and Blog</h5>
			</a>
		  </li>	
		   <li data-id="id-2" data-type="dev">
		    <a href="portfolio/thumbnail-pilar.html" >
		      <%= image_tag('thumbnail-pilar.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Papa's Pilar</h3>
				<h5 class="categories">Rum</h5>
			</a>
		  </li>	
		  
		  </li>	
		   <li data-id="id-2" data-type="dev">
		    <a href="portfolio/cpbgroup.html" >
		      <%= image_tag('thumbnail-cpbgroup.jpg') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">CP+B</h3>
				<h5 class="categories">Company Website</h5>
			</a>
		  </li>		
		  <li data-id="id-3" data-type="featured dev">
		    <a href="portfolio/occupationalist.html" >
		     <%= image_tag('occupationalist/occupationalist.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Aggregator for OWS</h3>
				<h5 class="categories">Development / Production</h5>
			</a>
		  </li>
		   <li data-id="id-3" data-type="branding creative" >
		    <a href="portfolio/hasbro.html" >
		      <%= image_tag('hasbro.png') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">Interactive / Branding</h5>
			</a>
		  </li>
		   <li data-id="id-4" data-type="branding">
		    <a href="portfolio/rentadventure.html" >
		     <%= image_tag('rentadventure.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Rental Car Platform</h3>
				<h5 class="categories">Development / Strategy</h5>
			</a>
		  </li>
		   <li data-id="id-5" data-type="dev motion">
		    <a href="portfolio/parallax.html" >
		     <%= image_tag('parralax.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Parallax Scrolling</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		  <li data-id="id-6" data-type="fun creative">
		    <a href="portfolio/kumite.html" >
		     <%= image_tag('kumite.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">3D modeling Spoof</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		  <li data-id="id-7" data-type="dev">
		    <a href="portfolio/codeadvice.html" >
		     <%= image_tag('codeadvice/iconcodeadvice.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Code Term Glossary</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		    <li data-id="id-8" data-type="featured dev physical fun">
		    <a href="portfolio/fatbot.html" >
		     <%= image_tag('fabot/FATBOT_Thumb.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">FATBOT – The AR Toy</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		    <li data-id="id-9" data-type="motion">
		    <a href="portfolio/advocharge.html" >
		     <%= image_tag('advochage/advoicon.jpg') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">AdvoCharge Advantage</h3>
				<h5 class="categories">Animation / Motion</h5>
			</a>
		  </li>
		</ul>
	</div>
</section> 