
<section id="mywork">
<%= image_tag('mywork.png', :class => 'header') %>

<div id="filter">
	<ul id="search">
		<li>By Tag:</li>
		<li><a >Motion</a></li>
		<li>Student</li>
		<li>Client</li>
	</ul>
</div>
	<div id="work">
	
		<article class="one-third" data-categories="interactive mobile">
			<a href="hasbro"><%= image_tag('hasbro.png') %></a>
			<a href="national-endowment-for-the-arts.html" class="project-meta">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">interactive / mobile</h5>
			</a>
		</article>
		<article class="one-third" data-categories="interactive mobile">
			<a href="hasbro"><%= image_tag('hasbro.png') %></a>
			<a href="national-endowment-for-the-arts.html" class="project-meta">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">interactive / mobile</h5>
			</a>
		</article>
		<article class="one-third" data-categories="interactive mobile">
			<a href="hasbro"><%= image_tag('hasbro.png') %></a>
			<a href="national-endowment-for-the-arts.html" class="project-meta">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">interactive / mobile</h5>
			</a>
		</article>
		<article class="one-third" data-categories="interactive mobile">
			<a href="hasbro"><%= image_tag('hasbro.png') %></a>
			<a href="national-endowment-for-the-arts.html" class="project-meta">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">interactive / mobile</h5>
			</a>
		</article>
		<article class="one-third" data-categories="interactive mobile">
			<a href="hasbro"><%= image_tag('hasbro.png') %></a>
			<a href="national-endowment-for-the-arts.html" class="project-meta">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">interactive / mobile</h5>
			</a>
		</article>

	
	</div>
</section> 