
<section id="mywork" class="section">
<%= image_tag('mywork.png', :class => 'header') %>

<div id="filter">
	<ul class="filter">
		<li>SELECT TAG:</li>
	 <li class="current all"><a href="#">All</a></li>
	  <li class="featured"><a href="#">Featured</a></li>
	  <li class="Video"><a href="#">Development</a></li>
	  <li class="Production"><a href="#">Motion</a></li>
	  <li class="Development"><a href="#">Physical Computing</a></li>
	
	  
	  
	</ul>
</div>
	<div id="work">
	<ul class="portfolio">
		  <li data-id="id-1" data-type="Featured">
		    <a href="images/hannah_yg.jpg" rel="prettyPhoto[portfolio]">
		      <%= image_tag('hasbro.png') %>
		    </a>
		    <a class="project-meta" data-type="interactive">
				<h3 class="title">Hasbro Rebrand</h3>
				<h5 class="categories">Interactive / Branding</h5>
			</a>
		  </li>
		  <li data-id="id-2" data-type="Featured">
		    <a href="images/bianca_yg.jpg" rel="prettyPhoto[portfolio]">
		      <%= image_tag('boulderboxsetsPBS.png') %>
		    </a>
		    <a class="project-meta">
				<h3 class="title">Boulder Box Sets</h3>
				<h5 class="categories">Animation / Motion</h5>
			</a>
		  </li>
		  <li data-id="id-3" data-type="Featured">
		    <a href="images/heather_yg.jpg" rel="prettyPhoto[portfolio]">
		     <%= image_tag('occupationalist.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Aggregator for OWS</h3>
				<h5 class="categories">Development / Production</h5>
			</a>
		  </li>
		   <li data-id="id-4" data-type="Production">
		    <a href="#" rel="prettyPhoto[portfolio]">
		     <%= image_tag('rentadventure.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Rental Car Platoform</h3>
				<h5 class="categories">Development / Strategy</h5>
			</a>
		  </li>
		   <li data-id="id-4" data-type="Development">
		    <a href="#" rel="prettyPhoto[portfolio]">
		     <%= image_tag('parralax.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">Parallax Scrolling</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		  <li data-id="id-4" data-type="Video">
		    <a href="#" rel="prettyPhoto[portfolio]">
		     <%= image_tag('kumite.png') %>
		    </a>
		    <a  class="project-meta">
				<h3 class="title">3D modeling Spoof</h3>
				<h5 class="categories">Development</h5>
			</a>
		  </li>
		 
		</ul>
			
	</div>
</section> 